body{
  margin: 0;
  padding: 0;
}


nav{
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  background-color: #06283D;
  color: #ffffff;
}


nav .logo {
  margin-right: auto;
}


.nav-link{
  text-decoration: none;
  margin-left: 2em;
  color: #ffffff;
}


.footer{
  background-color: #06283D;
  padding: 10px 20px;
}

.home{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.card{
  width: 15em;
  height: 15em;
  box-shadow:  0 4px 8px 3px rgba(173, 169, 169, 0.2);
  text-align: center;
}

.card-title{
  background-color: #256D85;
  padding: 0.82em;
}


@media(min-width: 768px){
   .cards{
    display: flex;
    flex-direction: row;
    gap: 2em;
   }
}