@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Source+Sans+Pro&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}



/* HOME */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title {
  color: #256d85;
  font-family: "Libre Baskerville", serif;
}

.cards {
  padding: 0 3em 4em;
  gap: 2em;
}

.card {
  width: 12em;
  height: 20em;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 3px rgba(173, 169, 169, 0.2);
  text-align: center;
  margin-top: 1em;
}

.card-title {
  background-color: #256d85;
  font-weight: 500;
  padding: 0.62em;
  margin: 0;
  color: #fff;
}

.card-detail {
  font-size: 0.94rem;
}

.price {
  color: #256d85;
  font-size: 1.3rem;
  font-weight: 700;
}

.reviews {
  width: 100%;
  text-align: center;
  background-color: #47b5ff;
  padding: 5em 0;
}

.review-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 1.2em 2.4em;
}

.review {
  background-color: #dff6ff;
  color: #504141;
  max-width: 350px;
  align-self: center;
  padding: 0.78em;
  border-radius: 8px;
}

.review-title {
  color: #dff6ff;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #06283d;
  padding: 1.57em 1.25em;
}

footer .logo {
  text-align: center;
  color: #dcdcdc;
}

.icon {
  color: #f6f4fa;
  margin-left: 0.3em;
  font-size: 1.875rem;
}

/* ABOUT */
/* .about-image,
.service-image,
.contact-image {
  width: 100%;
  height: 400px;
  position: absolute;  */
  /* margin: 0; */
  /* object-fit: cover;
} */

@media (max-width: 767px) {
  /* Styles for mobile */
  .about-image,
  .service-image {
    width: 100%;
    height: 200px;
    position: relative;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Styles for tablet */
  .about-image,
  .service-image {
    width: 100%;
    position: relative;
    height: 300px;
  }
}
@media (min-width: 1024px) {
  /* Styles for desktop */
  .about-image,
  .service-image {
    width: 100%;
    position: relative;
    /* width: 100%; */
    height: 400px;
  }
}

.about {
  text-align: center;
}

.about h2,
h4 {
  color: #b56d32;
  letter-spacing: 0.115em;
}

.about h4 {
  margin-top: 0;
}

.about-content {
  padding: 1em 3em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.founder-det {
  border: 1px solid gray;
  padding: 2em;
}

/* SERVICES */

.service {
  text-align: center;
}


.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  gap: 1em;
  padding: 0 5em 3em;
  margin-top: 3em;
}

.service-content{
  padding: 5em 0;
}


.service-content h2 {
  color: #4f5352;
}


.service-det {
  background-color: #e67e22;
  width: 12em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 1.3em;
  color: #f5e4d6;
}


.service-det h4 {
  color: #4d341f;
}


.light{
  opacity: 0.9;
}

/* CONTACTS */

.contacts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.contactForm{
  padding: 40px;
}

.contactForm h2{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.46em;
  color: #B56D32;
  letter-spacing: 0.2em;
}

.contactForm h2,p{
  text-align: center;
}

 form{
  margin-top: 2em;
 }

.contactForm .inputBox{
  position: relative;
  width:100%;
  margin-top: 0.98em;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.3125em 0;
  margin: 0.625em 0;
  border: none;
  border-bottom: 1px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 0.3125em 0;
  margin: 0.625em 0;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  letter-spacing: 0.3em;
  font-family: inherit;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
   font-size: 0.75rem;
   transform: translateY(-20px);
}


.contactForm .inputBox input[type="submit"]
{
  width: 100%;
  background:#b56d32;
  color: #f5e4d6;
  cursor: pointer;
  border: none;
  padding: 0.625em;
  font-size: 1.2rem;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-content {
    max-width: 700px;
  }

  .services {
    flex-direction: row;
    gap: 0.2em;
    flex-wrap: wrap;
    justify-content: center;
  }

  .service-det {
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    height: 25em;
    padding: 0 1em 0.75em;
  }

  .contactForm{
    width: 45%;
  }
}

